#dice{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 45px;
}

#dice-container {
    display: flex;
    justify-content: center;
    
    align-self: center;
    height: 120px;
    width: 120px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.15) 0px -3px 0px inset;
    border-radius: 10px;
    border: #DFDFDF 1px solid;
    background-color: #ffffff;
    padding: 20px;
}

#colum-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#colum-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#colum-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ball {
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    margin: 5px;
}

.ball-active {
    background-color: #2F2F2F;
}

.ball-disable {
    background-color: #ffffff;
}

.input{
    border: #DFDFDF 1px solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #dice-container.rolling {
    animation: rotate 2s linear infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #dice-container {
    animation: float 3s ease-in-out infinite;
  }