#container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  max-width: 800px;
  max-height: 800px;
  gap: 10px;
}

#container-title{
  flex: 1;
}

#container-game{
  flex: 1;
}

#container-copy{
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  font-size: 0.8em;
  color: #333333;
}